.toggle-left {
  background-color: #FFCC00;
}

.toggle-right {
  background-color: #fc0278;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.container {
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  display: flex;
}

.container p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}
.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Altura total de la ventana */
  padding: 20px; /* Para no pegar a los bordes en pantallas pequeñas */
}

.texto-informativo {
  display: block;
  font-size: 13px;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 10px;
  font-style: italic;
  text-align: center;
}

.container button {
  background-color: #ff58a6;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.container button.hidden {
  background-color: transparent;
  border-color: #fff;
}

.login-form{
  background-color: rgba(128, 128, 128, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}

.container input {
  background-color: #ffffff;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.form-container {
  color: #ffffff;
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in {
  background-image: url('https://th.bing.com/th/id/OIP.SA16p_-iTwhNSJOobUU4mAHaFS?rs=1&pid=ImgDetMain');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.active .sign-in {
  transform: translateX(100%);
}

.sign-up {
  background-image: url('https://th.bing.com/th/id/OIP.2L5-BNQQGBWmgp-_zHZM-wAAAA?w=420&h=280&rs=1&pid=ImgDetMain');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.active .sign-up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

.toggle-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  z-index: 1000;
}

.container.active .toggle-container {
  transform: translateX(-100%);
}

.toggle {
  background-color: #ffffff;
  background: linear-gradient(to right, #FFCC00, #ffcc00, #f40072, #fc0278);
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.container.active .toggle {
  transform: translateX(50%);
}

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle-left {
  transform: translateX(-150%);
}

.container.active .toggle-left {
  transform: translateX(0);
}

.toggle-right {
  right: 0;
  transform: translateX(0);
}

.container.active .toggle-right {
  transform: translateX(150%);
}

.forgot-password {
  background-color: rgba(0, 0, 0, 0.45);
  margin-top: 8px;
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-decoration: none;
  color: #00ffff;
  transition: border-color 0.3s, color 0.3s;
}

.forgot-password:hover {
  background-color: rgba(130, 128, 128, 0.35);
  border-color: #000000;
  color: #ffffff;
}

.select-documento {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  color: #333;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 20px;
  padding: 12px 20px;
  background-color: #ffd500;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  z-index: 1000;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #ff1add;
}

.modal-overlay {
  position: top;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.modal-contenido {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
}
