.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4); /* Fondo oscuro semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-contenedor {
  background: white;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  position: relative;
  max-height: 80vh;
  overflow-y: auto;
}

.modal-ancho-mediano {
  width: 100%;
  max-width: 750px;
  min-width: 400px;
}

.modal-title {
  margin-bottom: 1rem;
}

.modal-body {
  max-height: 65vh;
  overflow-y: auto;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 1rem;
}

.btn-subir-imagen {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 6px 12px;
  background-color: #ec4899;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.875rem;
}
